<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.passport.dao.UserDao">
    <insert id="insert" parameterType="com.example.passport.model.User">
        INSERT INTO user(id,name, avatar, introduce, status, extension) VALUES(#{id}, #{name}, #{avatar}, #{introduce}, #{status}, #{extension})
        <selectKey keyColumn="id" resultType="long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <update id="update" parameterType="com.example.passport.model.User">
        UPDATE user
        SET name=#{name}, avatar=#{avatar}, introduce=#{introduce}, status={#status}, extension={#extension}, create_time={#createTime},modify_time={#modfiyTime}
        WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="com.example.passport.model.User">
        DELETE user
            WHERE id=#{id}
    </delete>
    <select id="select" parameterType="com.example.passport.model.User">
        SELECT * FROM USER
            WHERE id=#{id}
    </select>
</mapper>